/* CSS Variables */
:root {
  /* Colors */
  --background-clr: hsl(185, 41%, 84%);
  --hover-clr: hsl(172, 67%, 70%);

  --primary: hsl(183, 100%, 15%);
  --secondary: hsl(172, 67%, 45%);

  --neutral-700: hsl(186, 14%, 43%);
  --neutral-600: hsl(184, 14%, 56%);
  --neutral-400: hsl(185, 41%, 84%);
  /* Should be 97% lightness, but I think it's too light */
  --neutral-200: hsl(189, 41%, 95%);

  --White: hsl(0, 0%, 100%);
  --validate-clr: hsl(354, 70%, 60%);
  --btn-disabled-clr: hsl(183, 100%, 20%);

  /* Fonts */
  --font: "Space Mono", monospace;

  --fs-700: 2rem; /* May have to change this value*/
  --fs-600: 1.5rem;
  --fs-400: 1rem;
  --fs-300: 0.85rem;

  /* Utils */
  --border-radius-small: 0.25rem;
  --border-radius-medium: 0.75rem;
  --border-radius-large: 1.5rem;
}

@media (min-width: 60em) {
  :root {
    --fs-700: 2.5rem;
  }
}

/* Vite Root element */
#root {
  min-height: 100vh;
  padding-top: 2.5rem;
}

/* Body */
body {
  background-color: var(--background-clr);
  font-family: var(--font);
  font-weight: 700;
}

/* ####################### */
/* Wrapper components */
/* ####################### */

.App {
  --gap: 2rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.splitter__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: space-between;
  background-color: var(--White);
  padding: 2rem;
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
}

.logo__container {
  display: grid;
  place-items: center;
}

/* ####################### */
/* Bill styling */
/* ####################### */

.bill {
  min-width: 0;
}

.bill form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* ## BillInput component ## */

.bill__input-container {
  position: relative;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.bill__input-container img {
  position: absolute;
  top: 60%;
  left: 5%;
}

.bill__input-container label {
  color: var(--neutral-700);
}

.bill__input {
  border: 2px solid var(--neutral-200);
  border-radius: var(--border-radius-small);
  background-color: var(--neutral-200);
  color: var(--primary);
  font-size: var(--fs-600);
  text-align: right;
  padding-inline: 1rem;
  outline: none;
  cursor: pointer;
}

.bill__input:is(:hover, :focus) {
  border-color: var(--hover-clr);
}

.bill__input::placeholder {
  color: var(--neutral-600);
}

.bill__input-validate {
  display: flex;
  justify-content: space-between;
}

.bill__input-validate span {
  color: var(--validate-clr);
}

.bill__input-error {
  border-color: var(--validate-clr) !important;
}

/* Removes the arrows (up & down) from bill inputs */
/* Chrome, Safari, Edge, Opera */
.bill__input::-webkit-outer-spin-button,
.bill__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.bill__input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* ## BillTip Component ## */

.bill__tip-container {
  --gap: 1rem;
  display: grid;
  max-width: 100%;
  gap: var(--gap);

  /* Because the input wanted to take up all the space if I did "1fr, 1fr".
     And with this solution the grid area is 100% responsive.  
  */
  grid-template-columns: repeat(2, calc(50% - calc(var(--gap) / 2)));
}

.bill__tip-container label {
  grid-column: 1 / -1;
  color: var(--neutral-700);
}

.bill__tip-container button,
.bill__tip-container input {
  font-size: var(--fs-600);
  text-align: center;
  cursor: pointer;
  padding: 0;
  padding-block: 0.25rem;
}

.bill__input-btn {
  color: var(--White);
  background-color: var(--primary);
  outline: none;
  border: none;
  border-radius: var(--border-radius-small);
}

.bill__input-btn:is(:hover, :focus),
.bill__input-btn-active {
  background-color: var(--hover-clr);
  color: var(--primary);
}

/* ####################### */
/* Output styling */
/* ####################### */

.output-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
  padding: 1.5rem;
  padding-top: 2.25rem;
  background-color: var(--primary);
  border-radius: var(--border-radius-medium);
}

.output__amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output__type {
  color: white;
  font-size: var(--fs-400);
}

.output__type :last-child {
  color: var(--neutral-600);
  font-size: var(--fs-300);
}

.output__amount {
  color: var(--secondary);
  font-size: var(--fs-700);
}

.output-container button {
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: var(--border-radius-small);
  text-transform: uppercase;
  padding-block: 0.5rem;
  cursor: pointer;
  margin-top: auto;
}

.output-container button:is(:hover, :focus) {
  background-color: var(--hover-clr);
}

.output-container button:disabled {
  cursor: not-allowed;
  background-color: var(--btn-disabled-clr);
}

/* ####################### */
/* Layout changes */
/* ####################### */

@media (min-width: 45em) {
  #root {
    padding-block: 2rem;
    display: grid;
    place-items: center;
  }

  .App {
    align-items: center;
    justify-content: center;
  }

  .splitter__wrapper {
    width: 50rem;
    max-width: 90%;
    border-radius: var(--border-radius-large);
  }
}

@media (min-width: 60em) {
  .App {
    --gap: 4rem;
  }

  .splitter__wrapper {
    --gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 65rem;
  }

  .bill__tip-container {
    grid-template-columns: repeat(3, calc(33% - calc(var(--gap) / 2)));
  }
}
